@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
html {
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

html,
body,
#root {
  height: 100%;
}

* {
  font-family: "Rubik", sans-serif;
  box-sizing: inherit;
  outline: none;
}
@media (min-width: 768px) {
  .md\:mt-10 {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .md\:w-1\/2 {
    width: 100%;
  }
}
.cus {
  width: 100% !important;
}
.cuts {
  width: 50%;
}
svg {
  display: block;
  vertical-align: middle;
}
.leading-loose {
  line-height: 1.5;
  text-align: justify;
}

.svg-blob {
  position: absolute;
  top: 45%;
  right: 25%;
  transform: translate(40%, -55%);
}

.svg-wave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.svg-wave-bottom {
  top: auto;
  bottom: 0;
}

.msie .svg-wave {
  display: none;
}

.container {
  position: relative;
  /* max-width: 1024px; */
  margin: 0 auto;
}
.custom {
  overflow-y: auto;
}
.header {
  position: fixed;
  right: 0;
  left: 0;
  right: 0;
  padding: 0 0;
  z-index: 1050 !important;
  background-image: linear-gradient(
    to top right,
    #a321c4 20%,
    #3330e6 70%,
    #6c63ff 100%
  );
}
ol {
  padding: 40px 0;
}
.nav {
  color: white;
}
.nav ol,
.nav li {
  display: inline-block;
}
.nav li + li {
  padding-left: 2rem;
}
.nav a:hover {
  text-decoration: underline;
}
.logo {
  width: 25px;
  height: 25px;
}
.custom .card {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  background-color: white;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.illustration {
  /* position: relative;
  top: 75px;
  left: 32px;
  width: 440px; */
  /* height: 0;
  padding-bottom: 75%;
  margin-left: auto; */
  width: 100%;
}
/* .illustration svg {
  position: absolute;
  top: 0;
  left: 0;
} */

.marginLeft {
  margin-left: -120px;
  margin-top: -120px;
}

.bit {
  position: absolute;
  bottom: 24px;
  width: 400px;
  right: 20px;
  z-index: 1;
}
.top-card {
  width: 100% !important;
  min-height: 85px !important;
  height: auto !important;
  text-align: right !important;
}
#wrapper > div {
  font-size: 0;
  background-color: #edeff0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 0.05em;
}

.card.course-id-1 .card-backgrund-color {
  background-color: #80ace9;
}

.card-assignment-icon:before {
  background-color: rgba(128, 172, 233, 0.4);
}

.card.course-id-2 .card-backgrund-color {
  background-color: #68cf8c;
}

.card.course-id-4 .card-backgrund-color {
  background-color: #ed7070;
}

.card.course-id-3 .card-backgrund-color {
  background-color: #ffd3b5;
}

.card.course-id-1 .card-backgrund-color {
  background-color: #f9cdad;
}
.card.course-id-6 .card-backgrund-color {
  background-color: #f26b38;
}

.card.course-id-5 .card-backgrund-color {
  background-color: #2f9599;
}
.card.course-id-7 .card-backgrund-color {
  background-color: #9de0ad;
}

.card-group-heading {
  margin: 0;
  color: #566265;
}

.card-container {
  font-size: 0;
}

.card,
.custom .card * {
  box-sizing: border-box;
}

.custom .card {
  width: calc(100% - 40px);
  min-width: 300px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  height: 280px;
  position: relative;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease-in, box-shadow 0.1s ease-in;
  /*   -moz-transition: -moz-transform .1s ease-in, box-shadow .1s ease-in; */
  transition: transform 0.2s ease-in, box-shadow 0.1s ease-in;
  box-shadow: 0px 2px 2px #dfe6f0;
}
.custom .car,
.transac {
  margin: 20px 5px !important;
}
.transac {
  width: calc(50% - 10px) !important;
}
.custom .car:last-of-type {
  min-height: 25px !important;
  height: auto !important;
  cursor: default;
}
.custom .car.heigt {
  min-height: 25px !important;
  height: auto !important;
  cursor: default;
}
@media (max-width: 340px) {
  .custom .card {
    margin: 20px calc(50% - 150px);
  }
}

@media (min-width: 700px) {
  .custom .card {
    width: calc(50% - 41px);
  }
}

@media (min-width: 1040px) {
  .custom .card {
    width: calc(50% - 41px);
  }
}

/* card shadow */

.card:hover {
  box-shadow: 0px 5px 10px #dfe6f0;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.card-invest:hover {
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}
.py-2 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.swal2-html-container {
  text-align: justify;
}
/* header, and body */
.custom-foot {
  display: flex;
  justify-content: flex-end;
}
.card-header,
.card-footer,
.card-body {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 20px;
  overflow: hidden;
}
.card-footer {
  bottom: 0;
  height: 50px;
  border-radius: 0 0 5px 5px;
  background-color: #f4f6f8;
}

.card-footer-color {
  background-color: white;
}
.card-header {
  top: 0;
  height: 50px;
  border-radius: 5px 5px 0 0;
}

.card-body {
  top: 50px;
  bottom: 50px;
}

.card-header > h2,
.card-body > p,
.card-footer > p {
  margin: 0;
}

.card-footer-text {
  display: inline-block;
  color: #576366;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  vertical-align: middle;
}

.card-footer-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  color: white;
  font-size: 14px;
  padding: 2px 0;
  margin: 2px 5px 2px 0;
}

/* header content */

.card-header > h2 {
  font-size: 16px;
  padding: 6px;
  color: white;
}

/* body content*/

/* card-info */

.card-info {
  height: 60%;
  display: flex;
  justify-content: center;
}
.card-info .card-info-element:first-of-type {
  width: 30%;
  padding-top: 75px;
}
.card-info .card-info-element:last-of-type {
  width: 70%;
  padding-left: 30px;
  /* margin-top: -64px; */
  padding-top: 50px;
  padding-bottom: 10px;
}
.price-chart-element:last-of-type {
  width: 100% !important;
  padding-left: 0 !important;
}
.price-chart-foot {
  height: 0 !important;
  z-index: -1 !important;
}
.card-body-details {
  top: auto !important;
  bottom: auto !important;
  padding: 0 !important;
  padding-left: 10px !important;
  margin-top: 0 !important;
}
.card-info-details {
  height: 280px !important;
  width: 100% !important;
}
.card-info-details .card-info-element:first-of-type {
  padding-top: 45px !important;
}
.card-info-details .card-info-element:last-of-type {
  padding-top: 0 !important;
}
.card-info-element {
  align-self: center;
  display: inline-block;
  vertical-align: middle;
}
.card-info-element img {
  /* width: 200px;
  height: 200px; */
}
.card-info-description {
  text-transform: uppercase;
  /* font-size: 10px; */
  font-weight: bold;
  color: #000011;
  /* margin-bottom: 10px; */
  display: inline-block;
}
.upp {
  text-transform: uppercase;
  color: #576366 !important;
  font-weight: bold;
  font-size: 20px !important;
  margin-top: -4px !important;
}
.infot {
  text-align: left;
}
.price-chart {
  height: 650px !important;
  padding-bottom: 100px !important;
}
.card-info-value {
  display: inline-block;
  color: #576366;
  font-weight: bold;
  /* font-size: 30px; */
  /* height: 37px; */
  vertical-align: bottom;
  text-transform: uppercase;
}

.card-info-assignment-level,
.card-info-deadline {
  color: white;
  background-color: #b3bac1;
  display: inline-block;
  display: inline-flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  border-radius: 100px;
}

.card-info-assignment-level {
  width: 40px;
  height: 40px;
  line-height: 30px;
  padding-top: 2px;
}

.card-info-deadline {
  font-size: 12px;
  padding: 6px 10px;
  margin-bottom: 4px;
  vertical-align: middle;
}

/* delimiter */

.card-body-delimiter {
  background-color: #edeff1;
  width: 40px;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  top: 112px;
  /* should be info-height + body-padding - delimiter-height / 2 = 108 + 10 - 2 = 116, but since info-values contains a kind of padding it is hardcoded */
  left: calc(50% - 20px);
  /* (body-width - delimiter-width) / 2 = (300 - 40) / 2 = 130 */
}

/* tags */

.card-tags {
  height: 40%;
  display: flex;
  justify-content: center;
}

.card-tag {
  background-color: #bdc5cd;
  align-self: center;
  display: inline-block;
  padding: 5px 10px;
  margin: 4px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 12px;
}

/* assignment type content */

.card-assignment-icon {
  display: inline-block;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  position: absolute;
  top: 20px;
  left: calc(50% - 40px);
}
.price-chart-sec {
  top: auto !important;
  bottom: 0 !important;
  padding: 0;
}
.card-assignment-icon:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  border-radius: 50%;
}

.card-assignment-text {
  height: 40%;
  font-size: 14px;
  line-height: 18px;
  color: #a6b0b2;
  position: absolute;
  top: 60%;
  left: 20px;
  right: 20px;
}

.ml-page-checks:after,
.ml-cross-check:after {
  content: "";
  background: url("https://cdn0.iconfinder.com/data/icons/outline-business/512/file.png");
  background-size: 50px;
  width: 48px;
  height: 49px;
  display: inline-block;
  background-repeat: no-repeat;
}
.ml-checkmark:after {
  content: "✔";
}

.flex-custom {
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .container.custom {
    max-width: none !important;
  }
}
@media (min-width: 1024px) {
  .container.custom {
    max-width: none !important;
  }
}
@media (min-width: 768px) {
  .container.custom {
    max-width: none !important;
  }
}
@media (min-width: 640px) {
  .container.custom {
    max-width: none !important;
  }
}
tr:hover {
  background: whitesmoke;
}
.MuiTypography-root.MuiTypography-body1 .MuiBox-root {
  padding: 0 !important;
}
.makeStyles-details-2 .MuiCardContent-root:last-child {
  padding-bottom: 0px !important;
}
.hover-custom-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 1px #b3bac1 solid;
  padding: 10px;
}
.price-hover {
  color: #532cdd;
}
.volume-hover {
  color: #413ea0;
}
.footer-details {
  height: 0 !important;
}
.bttom {
  position: relative;
  bottom: 2px;
  right: -5px;
}
.info-price {
  color: green;
}
.elemente {
  width: 85% !important;
  display: flex;
  flex-direction: row;
}
.elemente-cuts {
  width: 100% !important;
}
.picto {
  width: 12% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.makeStyles-cover-4 {
  width: 70px !important;
  padding-left: 10px !important;
}
.picto > button {
  margin-top: 10px;
}
.card-info-details .elemente:nth-of-type(2) {
  padding-left: 30px !important;
}
.elemente .card-info-part:nth-of-type(2) {
  padding-left: 30px;
}
.elemente .card-info-part:first-of-type {
  width: 20%;
}
.elemente .card-info-part:not(:first-of-type) {
  width: 40%;
}
.elemente .card-info-part {
  padding-top: 55px;
  font-size: 20px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.card-info .elemente:last-of-type {
  padding-bottom: 0 !important;
}
.desc-loose {
  text-align: justify;
}
.price-chart-desc {
  top: auto !important;
  bottom: auto !important;
  padding: 70px 40px 20px;
  position: relative;
}
.desc-loose > a {
  color: blue;
}
.custom-foot button:first-of-type {
  margin-left: 10px;
}
.card-inv {
  display: flex;
  flex-direction: row;
}
/* .flist p {display:inline-block; width:110px;} */
.flist p {
  display: block;
  font-size: 14px;
  width: auto;
}
.card-inv .card-info {
  height: 100% !important;
}
.card-inv .card-info .card-info-element .flist {
  text-align: left;
}
.card-inv .card-info .card-info-element:first-of-type {
  width: 100% !important;
  /* background-color: green; */
  padding-top: 0;
}
.card-inv .card-info .card-info-element {
  align-self: auto;
}
.card-inv .card-info .card-info-element:last-of-type {
  background: #dddfff;
  width: 30% !important;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  font-size: 25px;
  padding-left: 10px;
  padding-top: 5px;
}
.buySellText {
  margin-top: 8px;
}
.placehol {
  width: 30%;
}
.card-info-element form > div {
}
.culor {
  /* background-color: #68cf8c;
  margin: 2px auto; */
}
.card-info-description > p {
  display: inline;
}
.card-info-description > p:last-of-type {
  z-index: 100 !important;
}
.incre {
  margin-right: -10px;
  padding-right: 15px;
}
.fielder {
}
.incretwo {
  margin-left: -25px;
}
/* .numberfield input[type="number"]::-webkit-inner-spin-button,
.numberfield input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
.buySellImg {
  width: 100px;
}
.buySellElement {
  display: flex;
}
.buySellElement > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 16px;
  font-size: 16px;
}
.price-span {
  font-size: 16px;
}

.price-span .card-info-value:not(:nth-of-type(1)),
.price-span .card-info-value:not(:nth-of-type(2)) {
  padding-left: 5px;
}
.price-span .card-info-value {
  vertical-align: auto !important;
}
.hit {
  height: 2.5rem;
}
.card-invest {
  position: absolute;
  width: 640px !important;
  height: 300px !important;
  background-color: white;
  /* pointer-events: none; */
}
.blue {
  color: blue;
}
.foot-modal > button:first-of-type {
  margin-right: 10px;
}
.card-body.price-chart-desc.card-section-table {
  padding: 50px 0 0;
}
@media (min-width: 600px) {
  .transac .MuiToolbar-regular,
  .transacs .MuiToolbar-regular {
    min-height: 0 !important;
  }
}
@media (min-width: 0px) and (orientation: landscape) {
  .transac .MuiToolbar-regular,
  .transacs .MuiToolbar-regular {
    min-height: 0 !important;
  }
}
.transac .MuiToolbar-regular,
.transacs .MuiToolbar-regular {
  min-height: 0 !important;
}
.noBack {
  background-color: white !important;
}
.logo {
  width: 50px;
  height: 50px;
}
